.idea
*.iml
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.metals/
credentials/
.DS_Store
.bsp/
.data/
.env
.pytest_cache
*.pyc
node_modules/
.serverless/
